@{
    ViewBag.Title = "BookInfo";
}
@model BookStore2.Models.Book
<div id="results">
    <div id="loading" style="display:none; color:Red; font-weight:bold;">
        <p>Идет загрузка...</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h3 style="">@Model.BookName</h3><img src="~/Images/@Model.ImagePath" width="100%" height="100%"></div>
    <div class="col-md-4"><a href="~/Home/DeleteBook/@Model.Id">Удалить</a></div>
</div>
<br />
<br />
<br />
<table class="table table-bordered">
    <tr>
        <td>Автор</td>
        <td>Жанр</td>
        <td>Год</td>
        <td>Купили</td>
    </tr>
    <tr>
        <td>@Model.Author.AuthorName</td>
        <td>@Model.Genre</td>
        <td>@Model.Year</td>
        <td>@Model.BoughtBooks</td>
    </tr>
</table>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated)
        {
            if (ViewBag.BookLike != null && ViewBag.User.Id == ViewBag.CurrentBookLikeUserId)
            {
                <h2 id="VoteMessage">Вы поставили оценку: @ViewBag.BookLike</h2>

                <button id="VoteAgain">Переоценить</button>
                <div id="slider2"></div>
            }
            else
            {
                <h3>Поставьте оценку книге</h3>
                <div id="slider"></div>
            }
        }
    </div>
    <div class="col-md-4"></div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <input id="UserId" type="hidden" value="@ViewBag.User.Id" />
    <input id="UserHasBook" type="hidden" value="@ViewBag.UserHasBook" />
}
<script type="text/javascript">
    if ($("#UserHasBook").val() == 0) {
        $("#slider").replaceWith("<h4>Чтобы поставить оценку надо приобрести данную книгу</h4>");

    }
    else {
        $("#VoteAgain").click(function () {
            $("#VoteMessage").remove();
            $("#VoteAgain").remove();
            $("#slider2").before("<h3>Поставьте оценку</h3>");
            $("#slider2").slider({
            change: function (event, ui) {
                var val = $("#slider2").slider('value');
                var book = new Object();
                book.UserId = $("#UserId").val();
                book.BookId = @Model.Id;
                book.BookLikeValue = val;
                $('h3').remove();
                $('#slider2').hide();
                $('#slider2').after("<h1>Вы поставили оценку: </h1>" + val);
                if (book != null) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/BookInfo",
                        data: book,
                        contentType: "application/x-www-form-urlencoded",
                        dataType: "html",
                        success: function (response) {
                            if (response != null) {
                                alert("Успешно");
                            }
                            else {
                                alert("Не успешно")
                            }
                        }
                    });
                }
            }
        });

        });
       $("#slider").slider({
            change: function (event, ui) {
                var val = $("#slider").slider('value');
                var book = new Object();
                book.UserId = $("#UserId").val();
                book.BookId = @Model.Id;
                book.BookLikeValue = val;
                $('h3').remove();
                $('#slider').hide();
                $('#slider').after("<h1>Вы поставили оценку: </h1>" + val);
                if (book != null) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/BookInfo",
                        data: book,
                        contentType: "application/x-www-form-urlencoded",
                        dataType: "html",
                        success: function (response) {
                            if (response != null) {
                                alert("Успешно");
                            }
                            else {
                                alert("Не успешно")
                            }
                        }
                    });
                }
            }
        });
    }
</script>