@{
    ViewBag.Title = "Home Page";
}
@model BookStore2.Models.IndexViewModel
@using BookStore2.Helpers
<div id="index" style="min-height:600px">
    <div id="results">
        
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-8" style="border:solid; background-color:wheat; padding-bottom: 20px; padding-left: 40px">
            <h3 style="font-size:18px">Jquery Autocomplete</h3>
            <input type="text" name="name" id="searchInput" class="form-control" />
        </div>
    </div>
    <table class="table table-hover">

        @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
        <tr>
            <td></td>
            <td><h3>@Html.ActionLink("Название", "Index", new { Sorting_Order = ViewBag.SortingName })</h3></td>
            <td><h3>@Html.ActionLink("Автор", "Index", new { Sorting_Order = ViewBag.SortingAuthor })</h3></td>
            <td><h3>Цена</h3></td>
        </tr>
        @foreach (var item in Model.BookAuthorsList)
        {
            <tr>
                <td><a href="~/Home/BookInfo/@item.BookId"><img src="~/Images/@item.Book.ImagePath" alt="@item.Book.BookName" width="100px" height="100px" /></a></td>
                <td>@Html.DisplayFor(m => item.Book.BookName)</td>
                <td>
                    <a href="/home/author/@item.Author.Id">@Html.DisplayFor(m => item.Author.AuthorName)</a>
                </td>
                <td>@Html.DisplayFor(m => item.Book.BookPrice)</td>
                <td>@Html.ActionLink("Купить", "BuyBook", "Home", new { id = item.BookId }, null)</td>
            </tr>
        }

    </table>

</div>
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
<div id="bestbook">
    @Ajax.ActionLink("Самая популярная книга", "BestBook",
            new AjaxOptions { UpdateTargetId = "bestbook" })
</div>



<script>
    function onItemSelect(item)
    {
        var siteRootUrl = '@Url.Content("~/")';
        window.location.href = siteRootUrl + 'Home/BookInfo/' + item;
    }

    $("#searchInput").autocomplete({
        source: function (request, respone) {
            $.ajax({
                url: "@Url.Action("AutoComplete", "Home")",
                datatype: "json",
                data: { name: $("#searchInput").val() },
                success: function (data) {
                    respone($.map(data, function (item) {
                        return {label:item.BookName, value: item.BookName, id: item.Id}
                    }))
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            })
        },
        select: function (event, ui) {
            onItemSelect(ui.item.id);
        }

    })
</script>

