@{
    ViewBag.Title = "Home Page";
}
@model BookStore2.Models.IndexViewModel
@using BookStore2.Helpers
<div id="index" style="min-height:600px">
    <div id="results">
        <div id="loading" style="display:none; color:Red; font-weight:bold;">
            <p>Идет загрузка...</p>
        </div>
    </div>
    <table class="table table-hover">
      
        @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
        <tr>
            <td></td>
            <td><h3>@Html.ActionLink("Название", "Index", new { Sorting_Order = ViewBag.SortingName })</h3></td>
            <td><h3>@Html.ActionLink("Автор", "Index", new { Sorting_Order = ViewBag.SortingAuthor })</h3></td>
            <td><h3>Цена</h3></td>
        </tr>
        @foreach (var item in Model.BookAuthorsList)
        {
            <tr>
                <td><a href="~/Home/BookInfo/@item.BookId"><img src="~/Images/@item.Book.ImagePath" alt="@item.Book.BookName" width="100px" height="100px" /></a></td>
                <td>@Html.DisplayFor(m => item.Book.BookName)</td>
                <td>
                    <a href="/home/author/@item.Author.Id">@Html.DisplayFor(m => item.Author.AuthorName)</a>
                </td>
                <td>@Html.DisplayFor(m => item.Book.BookPrice)</td>
                <td>@Html.ActionLink("Купить", "BuyBook", "Home", new { id = item.BookId }, null)</td>
            </tr>
        }

    </table>

</div>
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
<div id="bestbook">
    @Ajax.ActionLink("Самая популярная книга", "BestBook",
            new AjaxOptions { UpdateTargetId = "bestbook" })
</div>

